.container {
    display: grid;
    margin: 30px 200px 0 200px;
    height: 500px;
    background-color: #ececec;
}

.calculate {
    display: grid;
    padding: 10px;
    float: center;
}

.calculator {
    display: grid;
    width: 800px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

input, label {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

select, option {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}